<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carlos_reynosa>
            <osano_cookie_consent>
                <palette>
                    <popup>
                        <background><![CDATA[#000]]></background>
                    </popup>
                    <button>
                        <background><![CDATA[#f1d600]]></background>
                    </button>
                </palette>
            </osano_cookie_consent>
        </carlos_reynosa>
    </default>
</config>
